{% extends "base.html" %}
{% block content %}

    {% load static %}


    <script src="{% static 'js/tableExport.js' %}"></script>
    <script src="{% static 'js/bootstrap-editable.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap-editable.css' %}">
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">



    <div class="panel panel-success">
        <div class="panel-heading">
            STEP 1: Select breed or mouse source
        </div>

        <div class="panel-body">


            <div class="row">
                <label class="control-label col-sm-2" for="line_query">
                    购买小鼠
                </label>
                <div class="col-sm-3">
                    <select class="form-control" id="inductSource">
                        <option value="">购买来源</option>
                    </select>
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <input type="number" id="inductCount" class="form-control" placeholder="NUM" required>
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <input id="creat" class="btn btn-primary" type="button" onclick="createTableInduct()" value="Inducting">
                </div>
            </div>

            <hr>

            <div class="row">
                <label class="control-label col-sm-2" for="line_query">
                    自交后代
                </label>
                <div class="col-sm-3">
                    <select class="form-control" id="breedID">
                        <option value="">选择BREED</option>
                    </select>
                </div>
                <div class="col-sm-2  col-sm-offset-1">
                    <input type="number" id="breedCount" class="form-control" placeholder="NUM" required>
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <input id="creat" class="btn btn-primary" type="button" onclick="createTableGenotyping()" value="Genotyping">
                </div>
            </div>

        </div>
    </div>


    <div class="panel panel-success">
        <div class="panel-heading">
            STEP 2: Edit Form
        </div>

        <div class="panel-body">
            <table id="inductTable" class="table table-inverse text-center"></table>
        </div>

        <div class="panel-body">
            <table id="genotypingTable" class="table table-inverse text-center"></table>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            STEP 3: Submit Date
        </div>

        <div class="panel-body">
            <button id="submit" class="btn btn-block btn-primary" type="submit">Submit Go!!</button>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <div id="responseTable"></div>
                </div>
            </div>
        </div>
    </div>



    <script>
        //获取下拉列表
        $(document).ready(function () {
            $.ajax({
                url: "/api/getlist-breed",
                method: "GET",
                data: {line: $(this).val()},
                dataType: "json",
                async: false,
                success: function (data) {
                    console.log(data);
                    var $el = $("#breedID");
                    $el.empty(); // remove old options
                    $.each(data, function (key, value) {
                        $el.append($("<option></option>")
                                .attr("value", value).text(key));
                    });
                },
            });

            $.ajax({
                url: "/api/getlist-mouse-field",
                method: "GET",
                data: {field: "source", param: "choices"},
                dataType: "json",
                async: false,
                success: function (data) {
                    console.log(data);
                    var $el = $("#inductSource");
                    $el.empty(); // remove old options
                    $.each(data, function (key, value) {
                        $el.append($("<option></option>")
                                .attr("value", value).text(value));
                    });
                },
            });


            $.ajax({
                url: "/api/getlist-genotype",
                method: "GET",
                data: {field: "locus"},
                dataType: "json",
                async: false,
                success: function (data) {
                    console.log(data);
                    locusList = data;
                },
            });

        })



        //For getting CSRF token
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        // Build a form
        function createTableGenotyping() {
            var breedID = $('#breedID').val();
            var breedCount = $('#breedCount').val();
            var form = [];
            for (var r = 0; r < parseInt(breedCount, 10); r++) {
                form.push({
                    'breedID': breedID,
                    'Pup': r + 1,
                    'Gen': "",
                    'Keep': "0"
                });
            }
            $('#genotypingTable').bootstrapTable('load', form)
            $('#genotypingTable').bootstrapTable({
                data: form,
                search: true,
                columns: [ {
                    field: 'breedID',
                    title: 'breedID',
                    sortable: true,
                }, {
                    field: 'Pup',
                    title: 'Pup',
                    sortable: true,
                }, {
                    field: 'Gen',
                    title: 'Gen',
                    sortable: true,
                    editable: {
                        type: 'select',
                        title: 'Gen',
                        emptytext: '请选择基因型',
                        source: locusList,
                    },
                }, {
                    field: 'Keep',
                    title: 'Keep',
                    sortable: true,
                    editable: {
                        type: 'select',
                        title: 'Keep',
                        source: [{
                            value: "0",
                            text: "Discard"
                        }, {
                            value: "1",
                            text: "Keep"
                        }, ],
                    },
                }, ]

            });
        };


        function createTableInduct() {
            var inductSource = $('#inductSource').val();
            var inductCount = $('#inductCount').val();
            var form = [];
            for (var r = 0; r < parseInt(inductCount, 10); r++) {
                form.push({
                    'inductSource': inductSource,
                    'Order': r + 1,
                    'Gen': "",
                    'inductDate': new Date().toJSON().slice(0,10),
                    'Age': 4,
                });
            }
            $('#inductTable').bootstrapTable('load', form)
            $('#inductTable').bootstrapTable({
                data: form,
                search: true,
                columns: [ {
                    field: 'inductSource',
                    title: 'inductSource',
                    sortable: true,
                }, {
                    field: 'Order',
                    title: 'Order',
                    sortable: true,
                }, {
                    field: 'Gen',
                    title: 'Gen',
                    sortable: true,
                    editable: {
                        type: 'select',
                        title: 'Gen',
                        emptytext: '请选择基因型',
                        source: locusList
                    }
                }, {
                    field: 'inductDate',
                    title: 'inductDate',
                    sortable: true,
                    editable: {
                        type: 'date',
                        title: 'inductDate',
                    }
                }, {
                    field: 'Age',
                    title: 'Age',
                    sortable: true,
                    editable: {
                        type: 'number',
                        mode: 'inline',
                        title: 'Age',
                    }
                } ]

            });
        };


        //For doing AJAX post
        $("#submit").click(function(e) {

            e.preventDefault();
            var csrftoken = getCookie('csrftoken');

            var genotypingRows = $("#genotypingTable").bootstrapTable('getData');
            var inductRows = $("#inductTable").bootstrapTable('getData');

            var breedID = $('#breedID').val();
            var breedCount = $('#breedCount').val();

            $.ajax({
                url: "/api/mouse-event-submit",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    breedCount: breedCount,
                    genotypingRows: JSON.stringify(genotypingRows),
                    inductRows: JSON.stringify(inductRows),
                },
                success: function(response) {
                    console.log(response);
                    $('#responseTable').bootstrapTable('append', [JSON.parse(response)]);
                    $('#responseTable').bootstrapTable({
                        data: [JSON.parse(response)],
                        columns: [{
                            field: 'mouse_add',
                            title: 'mouse_add'
                        } ]

                    });
                },
                error: function(xhr, errmsg, err) {
                    //console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    </script>



{% endblock %}
