{% extends "base.html" %}
{% block content %}

<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>

<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


<ul class="list-group">
    <li class="list-group-item">Event: 购买小鼠</li>
    <li class="list-group-item">Event: 鉴定新出生小鼠并添加</li>

    <li class="list-group-item">Event: 交配</li>
    <li class="list-group-item">Event: 分笼</li>

    <li class="list-group-item">Event: 观察到出生</li>
    <li class="list-group-item">Event: 记录表型</li>
    <li class="list-group-item">Event: 称量体重</li>
    <li class="list-group-item">Event: 加药饲料</li>
    <li class="list-group-item">Event: 注射病毒</li>
</ul>


<h2 class="form-signin-heading">Select a mouse</h2>


<form id="formSearch" class="form-horizontal">

    <div class="form-group" style="margin-top: 5px">
        <label class="control-label col-sm-1" for="line_select">
            LINE
        </label>
        <div class="col-sm-2">
            <select class="form-control" id="line_select">
                <option value="">未选取</option>
                <optgroup label="C57">
                    <option value="WT">WT</option>
                    <option value="R">rtTA</option>
                    <option value="M">Msh2</option>
                    <option value="T">TAH</option>
                </optgroup>
                <optgroup label="PWK">
                    <option value="PWK-WT">WT</option>
                </optgroup>
            </select>
        </div>

        <label class="control-label col-sm-1" for="mouse_select">
            MOUSE
        </label>
        <div class="col-sm-4">
            <select class="form-control" id="mouse_select">
                <option value="">未选取</option>
            </select>
        </div>
    </div>

</form>

<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-offset-2">
            <input id="createTableWeight" class="btn btn-primary" type="button" onclick="createTableWeight()" value="秤体重">
        </div>
        <div class="col-xs-2 col-md-offset-2">
            <input id="createTablePhenotype" class="btn btn-primary" type="button" onclick="createTablePhenotype()" value="记录表型">
        </div>
        <div class="col-xs-2 col-md-offset-2">
            <input id="createTableFeed" class="btn btn-primary" type="button" onclick="createTableFeed()" value="添加饲料">
        </div>
        <div class="col-xs-2 col-md-offset-2">
            <input id="createTableVirus" class="btn btn-primary" type="button" onclick="createTableVirus()" value="注射药物">
        </div>
    </div>
</div>



<div class="container" id="myTable">
    <table id="weightTable"></table>
    <table id="phenotypeTable" class="table table-inverse text-center"></table>
    <table id="feedTable" class="table table-inverse text-center"></table>
    <table id="virusTable" class="table table-inverse text-center"></table>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-offset-2">
            <input id="submitTableWeight" class="btn btn-success" type="button" onclick="submitTableWeight()" value="秤体重">
        </div>
        <div class="col-xs-2 col-md-offset-2">
            <input id="submitTablePhenotype" class="btn btn-success" type="button" onclick="submitTablePhenotype()" value="记录表型">
        </div>
        <div class="col-xs-2 col-md-offset-2">
            <input id="submitTableFeed" class="btn btn-success" type="button" onclick="submitTableFeed()" value="添加饲料">
        </div>
        <div class="col-xs-2 col-md-offset-2">
            <input id="submitTableVirus" class="btn btn-success" type="button" onclick="submitTableVirus()" value="注射药物">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-md-offset-2">
            <input id="submitTable" class="btn btn-block btn-success" type="button" onclick="submitTable()" value="提交全部">
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <div id="submit_response"></div>
        </div>
    </div>
</div>


<script>
    //For getting CSRF token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

// Build a form
function createTableWeight() {
    var mouse = $('#mouse_select').val();
    var form=[{
        'MOUSE': mouse,
        'DATE': new Date().toJSON().slice(0,10),
        'WEIGHT': "20"
    }];

    $('#weightTable').bootstrapTable('append', form);
    $('#weightTable').bootstrapTable({
        data: form,
        search: true,
        columns: [ {
            field: 'MOUSE',
            title: 'MOUSE',
            sortable: true,
        }, {
            field: 'DATE',
            title: 'DATE',
            sortable: true,
        }, {
            field: 'WEIGHT',
            title: 'WEIGHT',
            sortable: true,
            editable: {
                type: 'select',
                title: 'Gen',
                emptytext: '请输入体重',
                source: [{
                    value: "1",
                    text: "1"
                }, {
                    value: "2",
                    text: "2"
                }, ],
            },
        }]
    });
};


function createTablePhenotype() {
    var mouse = $('#mouse_select').val();
    var form=[{
        'MOUSE': mouse,
        'DATE': new Date().toJSON().slice(0,10),
        'WEIGHT': "20"
    }];

    $('#phenotypeTable').bootstrapTable('append', form)
        $('#phenotypeTable').bootstrapTable({
            data: form,
            search: true,
            columns: [{}, {
                field: 'MOUSE',
                title: 'MOUSE',
                sortable: true,
            }, {
                field: 'DATE',
                title: 'DATE',
                sortable: true,
            }, {
                field: 'WEIGHT',
                title: 'WEIGHT',
                sortable: true,
                editable: {
                    type: 'select',
                    title: 'Gen',
                    emptytext: '请输入体重',
                    source: [{
                        value: "1",
                        text: "1"
                    }, {
                        value: "2",
                        text: "2"
                    }, ],
                },
            }]
        });
};

//For doing AJAX post
function submitTable() {
    var weightRows = $("#weightTable").bootstrapTable('getData');
    var phenotypeRows = $("#phenotypeTable").bootstrapTable('getData');
    var feedRows = $("#feedTable").bootstrapTable('getData');
    var virusRows = $("#virusTable").bootstrapTable('getData');

    var csrftoken = getCookie('csrftoken');
    var mouse = $('#mouse_select').val();
    //This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post

    $.ajax({
        url: "/api/mouse-event-submit",
        type: "POST",
        data: {
            csrfmiddlewaretoken: csrftoken,
            mouse: mouse,
            weightRows: JSON.stringify(weightRows),
            phenotypeRows: JSON.stringify(phenotypeRows),
            feedRows: JSON.stringify(feedRows),
            weightRows: JSON.stringify(weightRows),
        },
        success: function(response) {
            console.log(response);
            $('#submit_response').bootstrapTable('append', [JSON.parse(response)]);
            $('#submit_response').bootstrapTable({
                data: [JSON.parse(response)],
                columns: [{}, {
                    field: 'breedCount',
                    title: 'breedCount'
                }, {
                    field: 'mate_start_date',
                    title: 'mate_start_date'
                }, {
                    field: 'mate_end_day',
                    title: 'mate_end_day'
                }, {
                    field: 'born_date',
                    title: 'born_date'
                }, ]

            });
        },
        error: function() {
            console.log("提交数据失败");
        }
    });
};
</script>



{% endblock %}
