
{% extends "base.html" %}

{% block content %}

{% load table_tags %}

<div class="container" style="margin-top: 10px">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"></button>
                <a class="navbar-brand" href="/datatable">mousedb Datatable</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/datatable/genotype">genotype</a></li>
                    <li><a href="/datatable/mouse">mouse</a></li>
                    <li><a href="/datatable/mate">mate</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br />
    {% render_table search_table %}
</div>
{% endblock %}
