{% extends "base.html" %} {% block content %}


<div class="row">
    <div class="col-xs-9">
        <div id="hello_response"></div>
    </div>
    <div class="col-xs-3">
    </div>
</div>

<div class="container">

    <form class="form-signin" method="POST">
        {% csrf_token %}
        <h2 class="form-signin-heading">Enter Details</h2>

        <label for="test" class="sr-only">Search</label>
        <input type="search" id="test" class="form-control" placeholder="Search" required>

        <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Query~ Go!!</button>
    </form>

</div>

<script>
    //For getting CSRF token
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    //For doing AJAX post
    $("#submit").click(function(e) {
        e.preventDefault();
        var csrftoken = getCookie('csrftoken');
        var search = $('#test').val();
        //This is the Ajax post.Observe carefully. It is nothing but details of where_to_post,what_to_post

        $.ajax({
            url: "/api/mouse-event-submit",
            // url: window.location.href,
            type: "POST",
            data: {
                csrfmiddlewaretoken: csrftoken,
                test: search
            },
            success: function(data) {
                console.log(data);
                $('#hello_response').bootstrapTable({
                    data: [JSON.parse(data)],
                    columns: [{
                        checkbox: true
                    }, {
                        field: 'Locus',
                        title: 'Locus'
                    }, {
                        field: 'Line',
                        title: 'Line'
                    }, {
                        field: 'Age',
                        title: 'Age'
                    }, ]

                });

                //$('#hello_response').html(data);
            },
            error: function(xhr, errmsg, err) {
                //console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
</script>

{% endblock %}
