{% extends "base.html" %}

{% block content %}

<!-- hero unit -->

<div class="container">
    <h2>
        Statistic page
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        How many mouse Idel?
                    </h3>
                </div>
                <div class="panel-body collapse">
                    <p>There is <code id="mouse-count"></code> mouse idle!!!</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        QUESTUIN2?
                    </h3>
                </div>
                <div class="panel-body">
                    There mouse ....
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        QUE 3
                    </h3>
                </div>
                <div class="panel-body">
                    Answer 3
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading clickable">
                    <h3 class="panel-title">
                        Panel 4
                    </h3>
                </div>
                <div class="panel-body">
                    Ans 4
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            console.log("hellllllll");
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });

$(document).on('click', '.panel div.clickable', function (e) {
    var $this = $(this);
    if (!$this.hasClass('panel-collapsed')) {
        $this.parents('.panel').find('.panel-body').slideUp();
        $this.addClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
    } else {
        $this.parents('.panel').find('.panel-body').slideDown();
        $this.removeClass('panel-collapsed');
        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
    }
});

// load data on load
$(document).ready(function () {
    $('.panel-heading span.clickable').click();
    $('.panel div.clickable').click();
});


$('#hello').on('click', function () {
    // do ajaxy stuff…
    $.ajax({
        type:'GET',
        url:'/api/mouse-count-api',
        dataType:'json',
        success:function(response_json)
        {
            console.log("dddddd");
            mouse_count = eval(response_json);
            console.log(response_json);
            document.getElementById("mouse-count").innerHTML = mouse_count.mouse;
        }
    });
});



</script>



{% endblock %}




