{% extends "base.html" %}

{% block content %}

<!-- hero unit -->


<div class="hero-unit">
    <h1>Statistic</h1>
    <br>
    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#tab1" data-toggle="tab">tab1</a>
        </li>
        <li>
            <a href="#tab2" data-toggle="tab">tab2</a></li>
        <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">tab3<b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <li>
                    <a href="#tab3-1" tabindex="-1" data-toggle="tab">tab3-1</a>
                </li>
                <li>
                    <a href="#tab3-2" tabindex="-1" data-toggle="tab">tab3-2</a>
                </li>
            </ul>
        </li>
        <!-- search -->
        <form class="navbar-form pull-left">
            <input type="text" class="search-query" placeholder="Search">
            <button class="btn btn-success" type="button">Search</button>
        </form>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
            <h1> There is <span id=mouse></span> Mouse Idle</h1>
        </div>
        <div class="tab-pane fade" id="tab2">
            <!-- table -->

        </div>
        <div class="tab-pane fade" id="tab3-1">
            <!-- demo chart begin -->

            <!--demo chart end -->

            <!-- progress bar -->
            <p>4 TUI</p>
            <p><a class="btn btn-primary btn-large">Regresion</a></p>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 100%;"></div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab3-2">

            <!-- demo chart2 begin -->
            <form action="/blog/" method="post">
                {% csrf_token %}
                <label for="your_name">Your name: </label>
                <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
                <input type="submit" value="OK">
            </form>


            <!--demo chart2 end -->
        </div>
    </div>




    <script>
        $(function () {
            $('#myTab li:eq(0) a').tab('show');
        });
    </script>


    <script type="text/javascript">
        $.ajax({
            type:'GET',
            url:'/api/mouse-count-api',
            dataType:'json',
            success:function(json)
            {
                mouse_count = eval(json);
                document.getElementById("mouse").innerHTML = mouse_count.mouse;

            }
        });
    </script>


</div>
<!-- end hero unit -->


{% endblock %}




