{% extends "base.html" %}

{% block content %}




    <div class="panel-group" id="accordion">
        {#count idle mouse#}
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                 href="#collapse1">
                <h4 class="panel-title" >
                    How many mouse idle
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">
                    <p> There is <code id="mouse-count"></code></p>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                 href="#collapse2">
                <h4 class="panel-title" >
                    How many mouse totallllllll
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p> There is <code id="resp2"></code></p>
                </div>
            </div>
        </div>



        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                 href="#collapse3">
                <h4 class="panel-title" >
                    QQQ3
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p> A3</p>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion"
                 href="#collapse4">
                <h4 class="panel-title" >
                    QQQ4
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <p> A4 </p>
                </div>
            </div>
        </div>

    </div>


    <script type="text/javascript">

        $(function () {
            $('#collapse1').on('show.bs.collapse', function () {
                console.log("11111");
                $.ajax({
                    type:'GET',
                    url:'/api/mouse-count-api',
                    dataType:'json',
                    success:function(response_json)
                    {
                        mouse_count = eval(response_json);
                        console.log(response_json);
                        document.getElementById("mouse-count").innerHTML = mouse_count.mouse;
                    }
                });
            });

            $('#collapse2').on('show.bs.collapse', function () {
                console.log("22222");
                $.ajax({
                    type:'GET',
                    url:'/api/mouse-count-api',
                    dataType:'json',
                    success:function(response_json)
                    {
                        mouse_count = eval(response_json);
                        console.log(response_json);
                        document.getElementById("resp2").innerHTML = mouse_count.mouse;
                    }
                });
            });

        });

    </script>



{% endblock %}




